$bigTitleSize: 20px;
$globalFontFamily: 'Montserrat',sans-serif;
$globalPdng: 15px;
$globalParagraphSize: 12px;
$globalSpanColor: #222;
$globalOpacity: 0.5;
$globalFontAwesomeSize: 20px;
$mb-0: 0;
$mt-10: 10px;
$mt-20: 20px;
$mb-20: 20px;
$mb-50: 50px;
$mt-150: 150px;
$alignCenter: center;